.slide-container {
    text-align: center;
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 7vh ;
    /*flex-direction: column;*/
    margin-left: 10vw;
    position: relative;
    max-width: 1000px;
    align-items: center;
}

    



.Container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12vw;
   
  margin-top: -20vw;

    display: none;
    position: relative;
    
}

.container2 {
    width: 85%;
    height:3vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content:space-between;
    
   
    margin: 0 5vw;
}
.container2 button{
    border-style: solid;
    border-color:rgb(140, 161, 189);
    background-color: rgb(241, 241, 241);
    border-width: 2px;
    color:#0c4d74;
    font-size: 15px;
    border-radius: 15px;
    margin-right: 3vw;
   height: 2vw;
   width: 10vw;


}


.Container h1 {
    color: white;
    font-size: 7vh;
    margin-bottom: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}





.pin {
    position: absolute;
    width: 30px; 
    height: 30px; 
    background-image: url('../img/bluepin.png'); 
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: dropPin 1s ease-out forwards; /* drop animation */
}

@keyframes dropPin {
    0% {
        opacity: 0;
        transform: translate(-50%, -200%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


.left-img{
    background: transparent;
    flex-wrap: wrap;
    
    width: 20%;
    height: 20%;
    margin-top: 7vw;
    margin-left: 3vw;
    z-index: -1;
}




.mapImg{

    width: 80%;
    height: 80%;
    border-style: solid;
    border: 0.25rem solid rgb(145, 165, 189); 
    border-radius: 5%;
   
    flex-wrap: wrap;
  
   
}

.dropPin:hover{
    transition:0.5s;
    background-color: #d3d6da;
    border-width: 2px;
    color: #7474c7;
    transform: scale(1.05);
}

.labSelector{
    
    
    transform: translateX(-50%);
    /*animation*/
    border-style: solid;
    border-color:rgb(140, 161, 189);
    background-color: rgb(241, 241, 241);
    border-width: 2px;
    color:#0c4d74;
    font-size: 15px;
    border-radius: 15px;
   padding-left: 2vw;
   height: 2vw;
   margin-left: 8vw;

   width: 15vw;

   
    
    
    

}
.labSelector select{
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
}

.labSelector:hover{
   
    transition: 1s ;
    background-color: #d3d6da;
    color: #5c5ce2;
    box-shadow: 3px 3px rgb(46, 84, 134);
    
}


body {
    
    background-image: linear-gradient(45deg, #0c4d74, #B0E0E6,#5555fd,#5D8AA8);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
}

.prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -12vw;
    margin-right: 10vw;
    margin-left: 10vw;  
     color:white;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
   /* user-select: none;*/
    z-index: 1;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -12vw;
    margin-right: 10vw;
    color:white;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
   /* user-select: none;
    z-index: 1;*/
}
.prevLoc:hover,
.nextLoc:hover {

  transform: scale(1.05);
  transition:0.5s;
}


/*
.prevLoc {
    margin-left: 47vw;
    margin-top: 0.5vw;
    cursor: pointer;
    width: 2vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    transition: all 0.6s ease;
    border-radius: 3px;
    user-select: none;
    border: yellow solid;
   
   

  }
  
  .nextLoc {
   
    margin-left:50vw;

margin-top: -3.5vw;
    border: red solid;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    width: 2vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    transition: all 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }



.prevLoc:hover,
.nextLoc:hover {
  background-color: #7491a3;
  transform: scale(1.05);
  transition:0.5s;
}*/
@media (max-width : 953px) {
    .Container{
        height: 120vw;
        width: 120vw;
    }
    .Container h1{
        font-size: 6vw; 
        margin-right: 10vw;
       }
       .container2 .labSelector{
        font-size: 3vw; 
        height: 5vw;
        width: 20vw;
        
        
       }
       .pin{
        width: 5vw;
        height: 5vw;
       }
       .labSelector select{
        width:2vw;
        height:3vw;
       }
       .container2 .dropPin{
        font-size: 3vw; 
        height: 5vw;
        width: 20vw;
       
       
       }
       .container2{
        margin-bottom: 5vw;
        margin-left: 1vw;
       }
       .mapImg{
        height:60vw;
        width: 70vw;
        margin-left: -15vw;

       }
   /* Adjust pin position for smaller screens */


       .left-img{
        margin-top: 18vw;
       }
      .next{
        margin-right: 1vw;
        margin-top: -30vw;
       }
       .prev{
        margin-left: -1vw;
        margin-top: -30vw;
       }

    
    }
      
      



